#mainProj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px 50px;
    row-gap: 20px;
    

}

#paiPrinc{

    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 100%;
}

#irPrinc {

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: rgb(12, 167, 46);

    width: 400px;
    height: 120px;

    border-radius: 70px;
    margin-bottom:30px;
    
}

#irPrinc:hover {
    filter: brightness(10.00);
  }



#h1Proj {
    text-align: center;
    
}

#imgPro {

    border-radius: 230px;

    width: 200px;
}


#carocel{
    display: flex;
    justify-content: center;

    
    height: 190px;
    padding: 0 20px;

    
    align-items: center;
}

@media (max-width: 394px) {

    #irPrinc  {

        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        background-color: red;
    
        width: 200px;
        height: 100px;
    
        border-radius: 70px;
        margin-bottom:30px;
        
    }
}

@media (max-width: 472px) {

    #irPrinc {

        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

        background-color: red;
    
        width: 280px;
        height: 100px;
    
        border-radius: 60px;
        margin-bottom:30px;
        
    }
}


